<h1>Profile</h1>

<p><br />You are currently logged in as: <strong> {{ activeUser }} </strong></p>

<p><br /><br />Sign in to manage your accounts:</p>
<div class="input-group" style="width:100%">
  <input type="text" style="margin:5px; width:36%" id="usernm" name="username" placeholder="Username" />
  <input type="password" style="margin:5px; width:36%" id="passwd" name="password" placeholder="Password" minlength="8" maxlength="20" />
  <button class="btn btn-primary" style="margin:5px; float:right; width:8%" (click)="incrementCounter()">Sign In</button>
</div>

<p><br /><br />Don't have an account?  Join the Radancy Bank family today!</p>
<div class="input-group" style="width:100%">
  <input type="text" style="margin:5px; width:24%" id="email" name="emailAddress" placeholder="Email Address" />
  <input type="text" style="margin:5px; width:24%" id="usernm" name="username" placeholder="Username" />
  <input type="password" style="margin:5px; width:24%" id="passwd" name="password" placeholder="Password" minlength="8" maxlength="20" />
  <button class="btn btn-primary" style="margin:5px; float:right; width:8%" (click)="incrementCounter()">Register</button>
</div>
